asgiref
click
Django
django-filter
django-pure-pagination
django-redis-cache
django-environ
djangorestframework
drf-extensions
python-dateutil
pytz
six
sqlparse
uvicorn
websockets
mysqlclient
faker
drf-yasg
djangorestframework-simplejwt